<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>d1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>d2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{1030, 0}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1030, 0}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>d3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 356}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 356}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>d4</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 710}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 710}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>d5</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 1066}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1066}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>d6</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{1030, 356}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1030, 356}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>d7</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{1030, 710}, {1024, 350}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 350}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 350}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1030, 710}, {1024, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>AnimationName</key>
		<string>DiscoIn</string>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>animationLoop</key>
		<false/>
		<key>animationRepetitions</key>
		<integer>1</integer>
		<key>animationSpeed</key>
		<real>0.40000000596046448</real>
		<key>animationStartAtLaunch</key>
		<true/>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
	</dict>
</dict>
</plist>
